body {
  background-image: url(/eval/img/sheno.jpg);
}

header .img1 {
  margin-left: 50px;
  height: auto;
  width: 400px;
}

header .buttom {
  margin: auto;
}

main .navbar {
  margin: auto;
}

main .img2 {
  margin: auto;
}

main .ville {
  margin-top: 50px;
}

main h2 {
  text-decoration: underline;
  color: blue;
  font-size: 2.5em;
}

main p {
  font-size: 1.5em;
}

main .picture-left {
  float: left;
}

main .div-categoryContainer {
  padding: 10px;
}

main .paragraph-right {
  margin-top: 100px;
  font-size: 1.5em;
}

main .picture-right {
  width: 400px;
  height: 400px;
  float: right;
  padding-bottom: 20px;
}

main .paragraph-left {
  margin-top: 100px;
  font-size: 1.5em;
  padding: 10px;
}

main .card {
  background-color: transparent;
  -webkit-box-shadow: 4px 4px 10px 0 black;
          box-shadow: 4px 4px 10px 0 black;
  padding: 10px;
}
