body {
  background-image: url(/eval/img/sheno.jpg);
}

body .img3 {
  margin: 10px;
  width: 920px;
}

header .img1 {
  margin-left: 50px;
  margin-bottom: 50px;
  height: auto;
  width: 400px;
}

header .buttom {
  margin: auto;
  float: right;
}

main .navbar {
  margin: auto;
}

main .txt {
  font-weight: bold;
  margin-top: 50px;
  font-size: 1.5em;
}

main .img2 {
  width: auto;
  color: blue;
  margin: 5px;
}
